@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-stone-800;
}

main {
    @apply bg-gray-50;
}

h1 {
    @apply font-semibold text-[32px] leading-[36px] lg:text-[36px] lg:leading-[42px] mb-3;
}

h2 {
    @apply font-semibold text-[28px] leading-[32px] lg:text-[32px] lg:leading-[38px] mb-3;
}

h3 {
    @apply font-semibold text-[24px] leading-[28px] lg:text-[28px] lg:leading-[36px] mb-3;
}

/*
h4 {
    @apply font-medium text-[18px] leading-[23px] lg:text-[20px] lg:leading-[26px];
} */

p,
li,
a {
    @apply font-normal text-[14px] leading-[20px] lg:text-[16px] lg:leading-[24px];
}

p {
    @apply mb-3;
}

a {
    /* @apply inline-block text-primary border-b border-transparent hover:border-primary transition-colors; */
}

.datepicker>div {
    @apply border border-gray-300;
}

.root-container {
    @apply mx-auto w-full flex flex-col;
    height: 100%;
    min-height: 100vh;
}

.dashboard-container {
    @apply w-full;
    height: 100%;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: fit-content(53px) 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.top-nav {
    @apply w-full flex justify-between items-center px-6 py-3 border-b border-b-stone-200;
    grid-area: 1 / 1 / 2 / 6;
}

.left-nav {
    @apply border-r border-r-stone-200 py-3 overflow-y-auto;
    grid-area: 2 / 1 / 6 / 2;

    li {
        @apply w-full;

        a {
            @apply w-full py-3 px-6 border-none text-black hover:bg-primary-50 flex items-center justify-start gap-2 transition-colors;

            span {
                @apply flex items-center justify-center overflow-hidden;
                width: 20px;
                height: 20px;
            }

            div {
                @apply flex items-center justify-center;
            }
        }

        a.active {
            @apply bg-primary-100;
        }
    }
}

.root-main-container {
    @apply w-full h-[calc(100vh-53px)];
}

.dashboard-main-container {
    @apply py-8 px-10 w-full overflow-y-auto;
    grid-area: 2 / 2 / 6 / 6;
}

.agenda-header {
    @apply grid grid-cols-3;
    grid-column-gap: 12px;
}

.signature-canvas {
    @apply border border-neutral-300;
}

.agenda-topic-input-row {
    @apply h-8 flex items-center;
}

.agenda-topic-input-row-with-dates {
    @apply gap-1.5 flex-wrap flex items-center;
}

.modal-wrapper {
    @apply max-h-screen overflow-hidden p-4;

    > * {
        @apply max-h-full overflow-y-auto;
    }
}